{% extends "base.html" %}
{% block nav %}
<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand navbar-left" href="{{ URL_ROOT }}/exam/manage/">
            <img src="{{ URL_ROOT }}/static/yaksh/images/yaksh_banner.png" alt="YAKSH" style="margin-top: -3px; margin-left:-15px"></img>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ URL_ROOT }}/exam/manage/check_plagiarism">Check Plagiarism</a></li>
            <li><a href="{{ URL_ROOT }}/exam/manage/questions">Questions</a></li>
            <li><a href="{{ URL_ROOT }}/exam/manage/courses">Courses</a></li>
            <li><a href="{{ URL_ROOT }}/exam/manage/monitor">Monitor</a></li>
            <li><a href="{{ URL_ROOT }}/exam/manage/gradeuser">Grade User</a></li>
            <li><a href="{{ url_root }}/exam/manage/grader"> Regrade </a></li>
            <li><a href="{{ URL_ROOT }}/exam/reset/changepassword">Change Password</a></li>
            <li><a href="{{ URL_ROOT }}/exam/viewprofile"> {{ user.get_full_name.title }} </a></li>
            <li><a href="{{URL_ROOT}}/exam/logout/" id="logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <!-- iframe div for video embed -->
    <div id="iframe_div" style="display: none;">
      <div style="width: 640px; height: 480px; position: relative;">
        <iframe id="video_frame" width="800" height="500" frameborder="0" allowfullscreen>
        </iframe>
        <div style="width: 80px; height: 80px; position: absolute; opacity: 0; right: 0px; top: 0px;">&nbsp;
        </div>
      </div>
    </div>
    <!-- end iframe div -->

    <!-- Dialog to video embed -->
    <div id="dialog_iframe" title="Embed Video URL" style="display: none;">
      <label>Enter Url:</label>
      <input id="url" name="url" type="text" required="true">
      <input type="button" id="submit_info" name="submit_info" class="btn" value="Submit" />
      <div id="error_div" style="display: none;">
          <b> Please enter URL</b>
      </div>
      <div id="copy_div">
          <br>
          <label>Paste HTML to embed in website:</label>
          <textarea rows="5" cols="35" id="html_text"></textarea>
          <br>
          <a class="btn btn-default" id="copy" data-toggle="tooltip" title="Copy to Clipboard">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
          </a>
      </div>
    </div>
    <!-- end dialog -->

{% endblock %}
{% block content %}
    {% block main %}
    {% endblock %}
{% endblock %}
